* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.banner-conversation {
    display: flex;
    background: red;
    margin: 0 auto;
    max-width: 320px;
    height: 550px;
    overflow: hidden;
    flex-direction: column;

    .conversation-head {
        display: flex;
        position: relative;
        background: #fff;
        padding: 10px 20px;
        height: 60px;
        box-shadow: 0 2px 4px 0 rgba(#1e1e1e, .05);
        z-index: 1;
        align-items: center;
        flex-shrink: 0;

        .avatar {
            background: #ccc;
            margin-right: 10px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        .right {
            .infos {
                display: flex;
                align-items: center;
                
                .name {
                    margin-right: 5px;
                }

                .verification {
                    svg {
                        display: block;
                        width: 16px;
                        height: 16px;

                        .a {
                            fill: #21c559;
                        }

                        .b {
                            fill: #fff;
                        }
                    }
                }
            }
            
            .writing {
                display: none;
                font-size: 12px;
                opacity: 0;
            }
        }
    }

    .conversation-container {
        display: flex;
        background: #e9e8df;
        padding: 20px;
        height: 100%;
        overflow: hidden;
        flex-direction: column;

        .message {
            background: #fafafa;
            border-radius: 10px;
            padding: 15px;
            width: auto;
            max-width: 85%;
            color: #1e1e1e;
            transform: translateX(0);
            transition: .4s;
            box-shadow: 0 2px 4px 0 rgba(#1e1e1e, .05);

            &.emoji {
                font-size: 32px;
            }

            &.hidden {
                opacity: 0;
            }

            &.sender {
                background: #e1f7c9;
                margin-left: auto;

                &.hidden {
                    transform: translateX(30px);
                }
            }

            &:not(.sender) {
                &.hidden {
                    transform: translateX(-30px);
                }
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}