<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript">
            function sum_number(){
                var number = document.getElementById("number").value;
                var msg = "";
                var sum = number;
                if(number.length != 8){
                    msg = "* 8자리 숫자를 입력해주세요.";
                    document.getElementById("result_msg").innerText = msg;
                    document.getElementById("result_msg").style = "color: red;";
                    console.log(msg)
                    return;
                }

                do{
                    number = sum.toString();
                    console.log(typeof number)
                    sum = 0;
                    console.log("num = " + number);
                    for(var i = 0; i < number.length; i++){
                        var n = Number(number[i]);
                        sum += n;
                        if(isNaN(n)){
                            msg="* 올바른 숫자를 입력해주세요.";
                            document.getElementById("result_msg").innerText = msg;
                            document.getElementById("result_msg").style = "color: red;";
                            return ;
                        }
                    }
                    console.log("sum = " + sum);
                }while(sum > 9);

                document.getElementById("result_msg").innerText = "* 결과가 나왔습니다.";
                document.getElementById("result_msg").style = "color: green;";
                document.getElementById("result_button").text = "결과보기";
                document.getElementById("result_button").type = "submit";
                document.getElementById("result_button").style = "background-color:orange;";
                console.log(sum);
                document.getElementById("result_button").onclick = function() { location.href=sum+".html"}
            }
        </script>
    </head>

    <body>
        <div style="text-align:center;">
            <img class="logo" src="">
        </div>
        <div class="main">
            <div style="text-align:center;">
                <form action="result" method='POST'>
                <p style="width:300px">숫자 8자리를 입력해주세요</p>
                <input id="number" name="code" type="text" maxlength="8"/>
                <p>ex) 29090802</p>
                <div id="result">
                    <p id="result_msg" style="color:blue;">* 숫자를 입력후 버튼을 클릭하세요.</p>
                    <button id="result_button" onclick="sum_number()" >입력</button>
                <div>
                <form>
            <div>
        <div>
    </body>


</html>